In [2]:
!pip install pyECLAT

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyECLAT in /usr/local/lib/python3.9/dist-packages (1.0.2)
Requirement already satisfied: numpy>=1.17.4 in /usr/local/lib/python3.9/dist-packages (from pyECLAT) (1.22.4)
Requirement already satisfied: tqdm>=4.41.1 in /usr/local/lib/python3.9/dist-packages (from pyECLAT) (4.65.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.9/dist-packages (from pyECLAT) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.25.3->pyECLAT) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.25.3->pyECLAT) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->pyECLAT) (1.16.0)

In [3]:
import pandas as pd

# you simply convert the transaction list into a dataframe
# data = pd.DataFrame(T3)
df = pd.read_csv('/content/basket.csv - basket.csv.csv', header=None);
T4 = df.values.tolist();

data = pd.DataFrame(T4)
data

        0             1                 2                3      4   5
0     LBE      Brooklyn             11204              NaN    NaN NaN
1     MBE           WBE             BLACK  Cambria Heights  11411 NaN
2     MBE         BLACK  Yorktown Heights            10598    NaN NaN
3     MBE         BLACK        Long Beach            11561    NaN NaN
4     MBE         ASIAN          Brooklyn            11235    NaN NaN
...   ...           ...               ...              ...    ...  ..
1415  WBE  NON-MINORITY          New York            10023    NaN NaN
1416  MBE         ASIAN     Valley Stream            11580    NaN NaN
1417  MBE         BLACK          Brooklyn            11214    NaN NaN
1418  LBE      New York             10016              NaN    NaN NaN
1419  MBE         ASIAN          New York            10002    NaN NaN

[1420 rows x 6 columns]

In [4]:
# we are looking for itemSETS
# we do not want to have any individual products returned
min_n_products = 2

# we want to set min support to 7
# but we have to express it as a percentage
min_support = 2/100 #len(T4)

# we have no limit on the size of association rules
# so we set it to the longest transaction
max_length = max([len(x) for x in T4])

In [5]:
from pyECLAT import ECLAT

# create an instance of eclat
my_eclat = ECLAT(data=data, verbose=True)

# fit the algorithm
rule_indices, rule_supports = my_eclat.fit(min_support=min_support,
                                           min_combination=min_n_products,
                                           max_combination=max_length)

100%|██████████| 728/728 [00:02<00:00, 251.77it/s]
100%|██████████| 728/728 [00:00<00:00, 3289.17it/s]
100%|██████████| 728/728 [00:01<00:00, 700.78it/s]

Combination 2 by 2

78it [00:07, 10.34it/s]

Combination 3 by 3

286it [00:10, 26.72it/s]

Combination 4 by 4

715it [00:25, 28.44it/s]

Combination 5 by 5

1287it [00:46, 27.59it/s]

Combination 6 by 6

1716it [01:03, 27.16it/s]

In [6]:
print(rule_supports)

{'BLACK & WBE': 0.08169014084507042, 'BLACK & Brooklyn': 0.07112676056338028, 'BLACK & MBE': 0.30070422535211266, 'BLACK & Bronx': 0.04154929577464789, 'BLACK & New York': 0.057746478873239436, 'WBE & Brooklyn': 0.06267605633802817, 'WBE & ASIAN': 0.038028169014084505, 'WBE & MBE': 0.16901408450704225, 'WBE & Bronx': 0.022535211267605635, 'WBE & NON-MINORITY': 0.3, 'WBE & HISPANIC': 0.047183098591549295, 'WBE & New York': 0.17535211267605633, 'LBE & MBE': 0.03169014084507042, 'Brooklyn & ASIAN': 0.028169014084507043, 'Brooklyn & MBE': 0.11267605633802817, 'Brooklyn & NON-MINORITY': 0.035211267605633804, 'ASIAN & MBE': 0.2, 'ASIAN & New York': 0.06056338028169014, '10001 & New York': 0.03380281690140845, 'MBE & Bronx': 0.07112676056338028, 'MBE & HISPANIC': 0.16408450704225352, 'MBE & New York': 0.1704225352112676, 'Bronx & HISPANIC': 0.023943661971830985, 'NON-MINORITY & New York': 0.11830985915492957, '10018 & New York': 0.027464788732394368, 'HISPANIC & New York': 0.05070422535211268, 'BLACK & WBE & Brooklyn': 0.02112676056338028, 'BLACK & WBE & MBE': 0.08169014084507042, 'BLACK & WBE & New York': 0.021830985915492956, 'BLACK & Brooklyn & MBE': 0.07112676056338028, 'BLACK & MBE & Bronx': 0.04154929577464789, 'BLACK & MBE & New York': 0.057746478873239436, 'WBE & Brooklyn & MBE': 0.02676056338028169, 'WBE & Brooklyn & NON-MINORITY': 0.035211267605633804, 'WBE & ASIAN & MBE': 0.03591549295774648, 'WBE & MBE & HISPANIC': 0.047183098591549295, 'WBE & MBE & New York': 0.0528169014084507, 'WBE & NON-MINORITY & New York': 0.11830985915492957, 'Brooklyn & ASIAN & MBE': 0.028169014084507043, 'ASIAN & MBE & New York': 0.05985915492957746, 'MBE & Bronx & HISPANIC': 0.023943661971830985, 'MBE & HISPANIC & New York': 0.05070422535211268, 'BLACK & WBE & Brooklyn & MBE': 0.02112676056338028, 'BLACK & WBE & MBE & New York': 0.021830985915492956}

In [7]:
def lenStr(str):
  ans = 1
  for x in str:
    if(x == '&'):
      ans = ans + 1
  return ans

max_length = max([lenStr(x) for x in rule_supports])

print("Maximum size of rules generated are: ", max_length);

Maximum size of rules generated are:  4

1.   For a support value of 10%, at least one rule is generated. However, if the support value is set above 15%, no rules are generated.
2.   The maximum size of rules generated is four for a support value of 2%. Generating rules for a lower support value than this takes a considerable amount of time.