In [ ]:
# Exercise 3

In [ ]:
# Question 1: You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is: 1: Sort based on name; 2: Then sort based on age; 3: Then sort by score. The priority is that name > age > score.
# If the following tuples are given as input to the program:
# Tom,19,80
# John,20,90
# Jony,17,91
# Jony,17,93
# 

# Then, the output of the program should be:
# [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

size=int(input("Enter the size of list:"))
list=[]
for i in range(0,size):
    data=input("Enter name ,age,height:").split(',')
    list.append((data[0],int(data[1]),int(data[2])))
print("Before sort:")    
print(list)
list.sort(key=lambda tup:(tup[0],tup[1],tup[2]))
print("After sort:")
print(list)

In [18]:
# Question 2: Calculate Word Frequencies. Take a set of sentences in a string as an input. Count each unique occurrence of a word and calculate frequency of occurrence and store in a dictionary. Produce a frequency table.
# Hint1: Iterate through the string, placing the words into a dict. The first time a word is seen, the frequency is 1. Each time the word is seen again, increment the frequency. 
# Hint2: Similar program given in Tuple Dictionary Notebook.

def freq(data):
    data=data.replace('.', '')
    word=data.split()
    dic={}
    for i in word:
        if i in dic:
            dic[i]+=1
        else:
            dic[i]=1
    return dic
data=input("Enter the sentense:")
print(data)
data_frequency=freq(data)
for data,fre in data_frequency.items():
    print(f"{data}:{fre}")

Enter the sentense:My name is John. My age is 20. My height is 30.
My name is John. My age is 20. My height is 30.
My:3
name:1
is:3
John:1
age:1
20:1
height:1
30:1

In [ ]:
# Question 3: Result Calculation. Create a dictionary and a list like following.
# Student = { 'UE183001': 'Avish', 'UE183002': 'Bhavya', 'UE183003': 'Tanya' } Add atleast 10 students
# Marks = [('UE183001', 'CS', 94 ), ('UE183002', 'CS', 64 ), ('UE183001', 'RV', 94), ('UE183002', 'CS', 74), 
#   ('UE183003', 'CS', 64)] Add some more values
# Find total marks of each students and display full name of student with total marks secured. This is the basic relational database join algorithm between two tables.

Student = { 'UE183001': 'Avish', 'UE183002': 'Bhavya', 'UE183003': 'Tanya','UE183004': 'John','UE183005': 'Mike','UE183006': 'Jane','UE183007': 'Jasmine','UE183008': 'Liam','UE183009': 'Emily','UE183010': 'Olivia' }

Marks = [('UE183001', 'CS', 94 ), ('UE183002', 'CS', 64 ), ('UE183001', 'RV', 94), ('UE183002', 'CS', 74), ('UE183003', 'CS', 64), ('UE183004', 'MATH', 89), ('UE183005', 'MATH', 94), ('UE183006', 'PHY', 74), ('UE183007', 'CHEM', 84), ('UE183008', 'CHEM', 94), ('UE183009', 'BIO', 64), ('UE183010', 'BIO', 74)]
student_marks={}
for (roll_no,subject,mark) in Marks:
    if roll_no in student_marks:
        student_marks[roll_no]+=mark
    else:
        student_marks[roll_no]=mark
for (roll_no,total_marks)in student_marks.items():
    print(f"Total marks obtained by {Student[roll_no]} is  {total_marks}")

In [28]:
# Question 4: A date of the form 8-MAR-85 includes the name of the month, which must be translated to a number. Create a dict suitable for decoding month names to numbers. Create a function which uses string operations to split the date into 3 items using the "-" character. Translate the month, correct the year to include all of the digits.
# The function will accept a date in the "dd-MMM-yy" format and respond with a tuple of ( y , m , d ).
Months = {"JAN": 1, "FEB": 2, "MAR": 3, "APR": 4, "MAY": 5, "JUN": 6, "JUL": 7, "AUG": 8, "SEP": 9, "OCT": 10, "NOV": 11, "DEC": 12}

def conversion(date):
    dmy=date.split('-')
    return (int(dmy[2]),Months[dmy[1]],int(dmy[0]))

date=input("Enter date:")
print(date)
print(conversion(date))

Enter date:8-MAR-85
{'JAN': 1, 'FEB': 2, 'MAR': 3, 'APR': 4, 'MAY': 5, 'JUN': 6, 'JUL': 7, 'AUG': 8, 'SEP': 9, 'OCT': 10, 'NOV': 11, 'DEC': 12}
(85, 3, 8)

In [31]:
# Question 5: Dice Odds. There are 36 possible combinations of two dice. A simple pair of loops over range(6)+1 will enumerate all combinations. The sum of the two dice is more interesting than the actual combination. Create a dict of all combinations, using the sum of the two dice as the key. Each value in the dict should be a list of tuples; each tuple has the value of two dice. The general outline is something like the following:
# d= {}
# Loop with d1 from 1 to 6
#     Loop with d2 from 1 to 6
#         newTuple ← ( d1, d2 ) # create the tuple
#         oldList ← dictionary entry for sum d1+d2
#         newList ← oldList + newTuple
#         replace entry in dictionary with newList
# Loop over all values in the dictionary
# print the key and the length of the list

combination={}
for dice1 in range(1,7):
    for dice2 in range(1,7):
        dice_sum = dice1 + dice2
        if dice_sum in combination:
            combination[dice_sum].append((dice1,dice2))
        else:
            combination[dice_sum]=[(dice1,dice2)]
for dice_sum in combination:
    print("Sum ",dice_sum," total combination is: ",combination[dice_sum])

Sum  2  total combination is:  [(1, 1)]
Sum  3  total combination is:  [(1, 2), (2, 1)]
Sum  4  total combination is:  [(1, 3), (2, 2), (3, 1)]
Sum  5  total combination is:  [(1, 4), (2, 3), (3, 2), (4, 1)]
Sum  6  total combination is:  [(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)]
Sum  7  total combination is:  [(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)]
Sum  8  total combination is:  [(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)]
Sum  9  total combination is:  [(3, 6), (4, 5), (5, 4), (6, 3)]
Sum  10  total combination is:  [(4, 6), (5, 5), (6, 4)]
Sum  11  total combination is:  [(5, 6), (6, 5)]
Sum  12  total combination is:  [(6, 6)]